

    <div class="container  ">
      <div class="row ">
          <div class="col-3">{{inPerson.id}}</div>
          <div class="col-3">{{inPerson.firstname}}</div>
          <div class="col-3">{{inPerson.lastname}}</div>
          <div class="col-3">{{inPerson.phone}} </div>
      </div>
      <div class="m-4">
          <button class="btn btn-warning m-4" (click)="onDeletePerson()">Удалить</button>
          <button class="btn btn-primary" (click)="onEditPerson()">Редактировать</button>
      </div>
  
      <div class="" *ngIf="edit">
        <form [formGroup]="editForm">
            <div class="m-1">
              <input type="text" formControlName="firstname" class="form-control" placeholder="Имя">
            </div>
            <div class="m-1">
              <input type="text" formControlName="lastname" class="form-control" placeholder="Фамилия">
            </div>
            <div class="m-1">
              <input type="text" mask="(000) 000-0000" prefix="8" [showMaskTyped]="true" formControlName="phone" class="form-control">
            </div>
            <div class=" m-1">
              <button class="btn btn-primary" [disabled]="editForm.invalid" 
              (click)="onEditPerson()">Сохранить</button>
            </div>
        </form>
      </div>
          
      </div>
  
